{% extends 'base.html.twig' %}

{% block title %}Safer - Accueil!{% endblock %}

{% block body %}
  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      {% for mostlikedproperty in most_liked_properties %}
        <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({{ mostlikedproperty.images }})">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">{{ mostlikedproperty.city }}, {{ mostlikedproperty.department }}
                        <br> {{ mostlikedproperty.address }}
                      </p>
                      <h1 class="intro-title mb-4 ">
                        <span class="color-b">{{ mostlikedproperty.postalcode }} </span> {{ mostlikedproperty.surface }}
                        <br> {{ mostlikedproperty.title }}
                      </h1>
                      <p class="intro-subtitle intro-price">
                        <a href="/properties/{{ mostlikedproperty.slug }}"><span class="price-a">{% if(mostlikedproperty.status == "sell") %} A vendre {% else %} A louer {% endif %}| {{ mostlikedproperty.price }} €</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nos Services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Gestion</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Les Safer interviennent en effet dans la transmission d’exploitations et de propriétés à vocations diversifiées
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-search"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Recherche</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Recherche de bailleurs et d’apporteurs de capitaux pour des propriétés propices à des placements fonciers, à reprendre en location,
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Exploitation</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Elevages dans leur ensemble (terres à vendre ou à louer, bâtiments d’exploitation, cheptel, matériel)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Propriétés récemment ajouté</h2>
              </div>
              <div class="title-link">
                <a href="/categories">Plus de propriétés
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">
            {% for randproperty in random_properties %}

              <div class="carousel-item-b swiper-slide">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="{{ randproperty.images }}" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                            <a href="#">{{ randproperty.title }}
                                <br /> {{ randproperty.address }}</a>
                            </h2>
                        </div>
                        <div class="card-body-a">
                            <div class="price-box d-flex">
                            <span class="price-a">{% if(randproperty.status == "sell") %} A vendre {% else %} A louer {% endif %}| {{ randproperty.price }} €</span>
                            </div>
                            <a href="/properties/{{ randproperty.slug }}" class="link-a">Cliquez ici pour voir
                            <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                            <li>
                                <h4 class="card-info-title">Aire</h4>
                                <span>{{ randproperty.surface }} ha
                                </span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Ville</h4>
                                <span>{{ randproperty.city }}</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Departement</h4>
                                <span>{{ randproperty.department }}</span>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
              </div><!-- End carousel item -->
            
            {% endfor %}

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nos Catégories</h2>
              </div>
              <div class="title-link">
                <a href="/categories">Toutes les Catégories
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="news-carousel" class="swiper">
          <div class="swiper-wrapper">
            {% for randcategory in random_categories %}
              <div class="carousel-item-c swiper-slide">
                <div class="card-box-b card-shadow news-box">
                  <div class="img-box-b">
                      <img src="assets/img/post-1.jpg" alt="" class="img-b img-fluid">
                  </div>
                  <div class="card-overlay">
                      <div class="card-header-b">
                          <div class="card-category-b">
                              <a href="{{ path('categories_show', {'slug': randcategory.slug}) }}" class="category-b">{{ randcategory.properties|length}} propriétés</a>
                          </div>
                          <div class="card-title-b">
                              <h2 class="title-2">
                              <a href="{{ path('categories_show', {'slug': randcategory.slug}) }}">{{ randcategory.name }}</a>
                              </h2>
                          </div>
                      </div>
                  </div>
                </div>
              </div><!-- End carousel item -->
            {% endfor %}
          </div>
        </div>

        <div class="news-carousel-pagination carousel-pagination"></div>
      </div>
    </section><!-- End Latest News Section -->

  </main><!-- End #main -->
{% endblock %}
