{% extends 'base.html.twig' %}

{% block title %}Safer - Propriétés !{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{% if(category is defined ) %}Propriétés de Catégorie : {{category.name}} {% else %}  Nos incroyables propriétés {% endif %}</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/categories">Catégories</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Propriétés
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="my-5">{{ form(form) }}</div>
        <div class="my-5">{{ form(formPrice) }}</div>
        <div id="price-slider" style="margin-bottom: 3rem;"></div>
        <div class="row">
          {% for property in properties %}
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="{{ property.images }}" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                            <a href="#">{{ property.title }}
                                <br /> {{ property.address }}</a>
                            </h2>
                        </div>
                        <div class="card-body-a">
                            <div class="price-box d-flex">
                            <span class="price-a">{% if(property.status == "sell") %} A vendre {% else %} A louer {% endif %}| {{ property.price }} €</span>
                            </div>
                            <a href="/properties/{{ property.slug }}" class="link-a">Cliquez ici pour voir
                            <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                            <li>
                                <h4 class="card-info-title">Aire</h4>
                                <span>{{ property.surface }}m
                                <sup>2</sup>
                                </span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Ville</h4>
                                <span>{{ property.city }}</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Departement</h4>
                                <span>{{ property.department }}</span>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              {{ knp_pagination_render(properties) }}
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

{% endblock %}
