{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
  <style>
    .inforide { box-shadow: 1px 2px 8px 0px #f1f1f1; background-color: white;
    border-radius: 8px; height: auto; }

    .rideone img { width: 70%; }

    .ridetwo img { width: 60%; }

    .ridethree img { width: 50%; }

    .ridefour img { width: 70%; }

    .rideone { background-color: #6CC785; padding-top: 25px; border-radius: 8px
    0px 0px 8px; text-align: center; height: auto; margin-left: 15px; }

    .ridetwo { background-color: #9A75FE; padding-top: 30px; border-radius: 8px
    0px 0px 8px; text-align: center; height: auto; margin-left: 15px; }

    .ridethree { background-color: #4EBCE5; padding-top: 35px; border-radius:
    8px 0px 0px 8px; text-align: center; height: auto; margin-left: 15px; }

    .ridefour { background-color: #4EBCE5; padding-top: 35px; border-radius:
    8px 0px 0px 8px; text-align: center; height: auto; margin-left: 15px; }

    .fontsty { margin-right: -15px; }

    .fontsty h2{ color: #6E6E6E; font-size: 35px; margin-top: 15px; text-align:
    right; margin-right: 30px; }

    .fontsty h4{ color: #6E6E6E; font-size: 25px; margin-top: 20px; text-align:
    right; margin-right: 30px; }

    .fontsty li{ color: #6E6E6E;}

    .content-wrapper { min-height: calc(100vh - 56px); padding-top: 4rem;
    overflow-x: hidden; background: transparent; }
  </style>
      <div class="container-fluid">
        <div class="row">
          <!-- Icon Cards -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620" />
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>
                    Utilisateurs
                  </h4>
                  <h2>
                    {{ totalUsers }}
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620" />
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>
                    Catégories
                  </h4>
                  <h2>
                    {{ totalCategories }}
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620" />
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>
                    Propriétés
                  </h4>
                  <h2>
                    {{ totalProperties }}
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridefour">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620" />
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>
                        Propriétés au Top
                    </h4>
                    <ul>
                        {% for property in topLikedProperties %}
                            <li>{{ property.title }} ({{ property.nblike }} likes)</li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
